# Arquivos de compilação ou construção
*.js
*.css
*.html
dist/
build/
node_modules/

# Arquivos de ambiente ou configuração local
.env
.env.local
.env.development

# Arquivos de log ou cache
*.log
*.cache
*.tmp

# Arquivos sensíveis ou privados
*.key
*.pem
*.p12
*.cert

# Arquivos de IDE ou editor de texto
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de dependências locais
yarn.lock
package-lock.json
pnpm-lock.yaml